# 忽略所有 .git 目录和文件
.git

# 忽略所有 .DS_Store 文件
.DS_Store

# 忽略所有 .log 文件
*.log

# 忽略所有 .bak 文件
*.bak

# 忽略所有 .swp 文件
*.swp

# 忽略所有 .swo 文件
*.swo

# 忽略所有 .zip 文件
*.zip

# 忽略所有 .gz 文件
*.gz

# 忽略所有 .tar 文件
*.tar

# 忽略所有 .tar.gz 文件
*.tar.gz

# 忽略 vendor,build,log 目录
vendor
build
log